.header {
    background-color: var(--accent);
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    section {
        display: flex;
        align-items: center;

        a {
            padding: 0 1rem;
        }
    }

    .logo {
        width: 10rem;
        height: auto;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .header {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0rem;

        #nav {
            width: 100%;
            display: grid;
            gap: 0;
            grid-template-columns: 33% 33% 33%;
            text-align: center;
            place-content: center;
            
            a {
                padding: 1rem 0;
            }
        }
    }
}
