.department {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .members {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, calc(50% - 1rem)));
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;

        .member {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 800px) {
    .department {
        .members {
            display: flex;
            flex-direction: column;
        }
    }
}